body{
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size-adjust: 20%;
}


.App.Title {
    margin-top: 15%;
}

.log-btn {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
}
.intbutton{
  border: 2px solid black;
  margin: 15%;
}
.sig-btn{
  margin-bottom: 5%;
  width: 60%
}
.logo-stor{
  width: 20%;
  margin: auto;
}
.logborder{
  border: 2px solid black;
  border-radius:20px;
  margin-left: 10%;
  margin-right: 10%;
}
.loginform{
  margin: 5% 20%;
  text-align: left;

}
.subbtn{
  margin-left: 30%;
  width: 40%;
}
.regfilter{
  margin: 0% 20%;
}
input.btn.btn-primary.subbtn {
  margin: auto;
}

.Donatebtn{
  background: url('https://www.flaticon.com/premium-icon/icons/svg/66/66198.svg');
  padding-left: 15px;
}